.container{
  position: relative;
}

.headline-bar{ 
postion: absolute;
max-width: 100%;
height: 150px;
background: #3cd3c7;
margin-top: 50px;
}

.prof-pic{
  width: 200px;
  border-radius: 50%;
  margin-left: 65%;
  margin-top: -185px;
}

.box{
  font-size: 2em;
  margin-top: -190px;
  margin-left: 25%;
}
.aboutme{
 padding: 20px;
  margin-left: 25px;
}

h4{
  font-size: 30px;
  margin-top: -5px;
  margin-left: 50px;
}

.movies{
 margin-left: 20px;
  padding: 20px;
}

img{ 
max-width: 500px;
padding: 20px
}

p{
 
  font-size: 22px;
}

.linebreak{
max-width:100%;
height: 10px;
background-color: #eb3a57;

}

#wonderful{
float: left;
  margin-top: -30px;
}

#superbad{
  float: right;
}

#goonies{
  float: left;
}
.stelmo{
  height: 500px;
  float: left;
}
.btn {
  
  width: 7em;
  height: 1.5em; 
  background-color: #66bbb0;
  font-size: 20px;
  padding: 20px;
  border-radius: 25px;
  color: #000000;
  text-decoration: none;
}

@media (max-width: 1000px) {
 
  .headline-bar{
    max-width: ;
  }
  #wonderful{ 
    float: none;}
  #superbad{
    float: none;}
  #goonies {
    float: none;}
}
